.usercreds {
  border: 2px dashed black;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  background-color: rgb(42, 247, 162);
  justify-content: space-evenly;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 200px; */
  margin-right: 10px;
}

.firsthalf {
  display: flex;
  align-items: center;
  gap: 40px;
}

.firsthalf > img {
  height: 50px;
}

.firsthalf > .usercreds > span {
  font-size: 19px;
  font-weight: bold;
}

.firsthalf > .usercreds > span > span {
  font-size: 19px;
  font-weight: bold;
  background-color: rgb(0, 90, 53);
  color: white;
  font-weight: normal;
  font-size: 20px;
  padding: 3px 10px;
  border-radius: 4px;
}

.url_link {
  background-color: rgb(101, 207, 241);
  height: 50px;
  width: 100%;
  margin-top: 8px;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.closediv {
  display: flex;
  justify-content: center;
  background-color: rgb(110, 178, 237);
  padding: 15px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
}

.closediv:hover {
  background-color: white;
  border: 1px solid rgb(110, 178, 237);
}

.closediv:hover > i {
  color: rgb(110, 178, 237) !important;
}

.bottompart {
  margin-top: 10px;
}

.bottompart > p {
  font-size: 17px;
}

.credcollapsed {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 100%;
  background-color: rgb(247, 156, 58);
  border: 1px solid rgb(222, 121, 12);
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  gap: 5px;
  font-size: 17px;
}

@media only screen and (max-width: 500px) {
  .mobileview {
    display: none;
  }
}
